*.mp4
*.pt
runs/
gitCommand.ipynb
__pycache__/
.ipynb_checkpoints/
.env
*.mp4
*.pt
runs/
gitCommand.ipynb
__pycache__/
.ipynb_checkpoints/
.env
*.mp4
*.pt
runs/
gitCommand.ipynb
__pycache__/
.ipynb_checkpoints/
.env
